{% extends 'layout.html' %}

{% block title%}About{% endblock %}

{% block content%}

 <div class="jumbotron jumbotron-fluid">
    <div class="container">
    <h1 class="text-center">About us</h1>
    <p class="text-center">Sarin membre du groupe atao slide</p>
    </div>
 </div>

 <div class="row">
    <div class="col-lg-6">

        <div class="card mb-4">
            <div class="card-body">
                <img src="{{url_for('static', filename='img/anya.jpg')}}" class="" width="200" alt="">
                <div class="float-right">
                    Fonction: <br>
                    Rôle pendant la réalisation du projet
                </div>
                <h2 class="card-title h4">Anarana Feno</h2>
            </div>
        </div>
    </div>
     <div class="col-lg-6">

        <div class="card mb-4">
            <div class="card-body">
                <img src="{{url_for('static', filename='img/anya.jpg')}}" class="" width="200" alt="">
                <div class="float-right">
                    Fonction: <br>
                    Rôle pendant la réalisation du projet
                </div>
                <h2 class="card-title h4">Anarana Feno</h2>
            </div>
        </div>
    </div>
 </div>


{% endblock %}